#inptBusqueda {
    /* background-image: url('../images/icon/search.png'); */
    /* background-size: 7%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 96%;
    font-size: 16px;
    padding: 6px 20px 6px 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-bottom: 12px; */
}